
*.DS_Store
*.class
*.xml
*.iml
*.png
*.mf
build/classes/java/main/.classpath
build/classes/java/main/.gitattributes
build/classes/java/main/.gradle/6.8.3/executionHistory/executionHistory.bin
build/classes/java/main/.gradle/6.8.3/executionHistory/executionHistory.lock
build/classes/java/main/.gradle/6.8.3/fileChanges/last-build.bin
build/classes/java/main/.gradle/6.8.3/fileHashes/fileHashes.bin
build/classes/java/main/.gradle/6.8.3/fileHashes/fileHashes.lock
build/classes/java/main/.gradle/6.8.3/fileHashes/resourceHashesCache.bin
build/classes/java/main/.gradle/6.8.3/gc.properties
build/classes/java/main/.gradle/6.8.3/javaCompile/classAnalysis.bin
build/classes/java/main/.gradle/6.8.3/javaCompile/jarAnalysis.bin
build/classes/java/main/.gradle/6.8.3/javaCompile/javaCompile.lock
build/classes/java/main/.gradle/6.8.3/javaCompile/taskHistory.bin
build/classes/java/main/.gradle/6.8/executionHistory/executionHistory.lock
build/classes/java/main/.gradle/6.8/fileChanges/last-build.bin
build/classes/java/main/.gradle/6.8/fileHashes/fileHashes.lock
build/classes/java/main/.gradle/6.8/gc.properties
build/classes/java/main/.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/classes/java/main/.gradle/buildOutputCleanup/cache.properties
build/classes/java/main/.gradle/checksums/checksums.lock
build/classes/java/main/.gradle/checksums/md5-checksums.bin
build/classes/java/main/.gradle/checksums/sha1-checksums.bin
build/classes/java/main/.gradle/configuration-cache/gc.properties
build/classes/java/main/.gradle/vcs-1/gc.properties
build/classes/java/main/.project
build/classes/java/main/.settings/org.eclipse.buildship.core.prefs
build/classes/java/main/build.gradle
build/classes/java/main/README.md
